<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Big Beer</title>


</head>
  <body>

    <div style="background: whitesmoke;border:2px solid lightslategrey;
    border-radius:5px;text-align: center;margin: 8px;">
        <h1> I'm working on this beer right now, check it out!</h1>
    </div>
    <div style="background: whitesmoke;border:2px solid lightslategrey;
    border-radius:5px;text-align: center;margin: 8px; padding:8px;">
            <img src="https://s3.us-east-2.amazonaws.com/priceworld-photodump/beer.jpg"
                 style="align-self: center" width="400" height="500">
    </div>
    </body>

</html>